@import "tailwindcss";

@font-face {
  font-family: 'DT Risya';
  src: url('/fonts/dt-risya.woff2') format('woff2'),
       url('/fonts/dt-risya.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wood';
  src: url('/fonts/wood-sans-clean-demo.woff2') format('woff2'),
       url('/fonts/wood-sans-clean-demo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-red: #bd3649;
  --color-black: #161716;
  --color-white: #fcfbf6;
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@layer base {
  :root {
    --color-red: #bd3649;
    --color-black: #161716;
    --color-white: #fcfbf6;
    --background: var(--color-white);
    --foreground: var(--color-black);
  }

  html {
    font-family: var(--font-geist-sans), sans-serif;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans), sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    font-family: 'DT Risya', sans-serif;
  }

  body {
    font-family: 'Wood', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}